<app-navbar></app-navbar>

<form [formGroup]="sesionForm" class="form-container" color="primary">
  <div class="flex flex-column md:flex-row">
    <div class="w-full flex flex-column align-items-center justify-content-center gap-3 py-5">

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Nombre</label>
        <input pInputText id="nombre" formControlName="nombre" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Apellido</label>
        <input pInputText id="apellido" formControlName="apellido" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Contraseña</label>
        <input pInputText id="contrasena" formControlName="contrasena" type="password" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Dirección</label>
        <input pInputText id="direccion" formControlName="direccion" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Teléfono</label>
        <input pInputText id="telefono" formControlName="telefono" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Email</label>
        <input pInputText id="email" formControlName="email" type="email" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Habilitar cuenta</label>
        <p-treeSelect
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedEstado"
          [ngModelOptions]="{standalone: true}"
          [options]="Estado"
          placeholder="Select estado">
        </p-treeSelect>
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Rol</label>
        <p-treeSelect
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedRol"
          [ngModelOptions]="{standalone: true}"
          [options]="Rol"
          placeholder="Select Rol">
        </p-treeSelect>
      </div>

      <p-button label="" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="onsubmit()">Registrar</p-button>

    </div>
  </div>
</form>

