<app-navbar></app-navbar>

<section id="comunidad" class="comunidad">

  <div class="subComunidad">
    <h1>Testimonios de personas que usaron Money Control</h1>
    <button style="font-size:20px;width: 150px; height: 50px;
    border: 2px  solid red; background-color: greenyellow;
     color:black"
            mat-button color="accent"
            [routerLink]="['/Garantia']">Registrar Garantia
    </button>
    <br>
    <p>
      Es importante segurar tus finanzas protegidas ante desastres ya que siempre se corre el riesgo de sufrir un atentado
    </p>
  </div>

  <div class="containerComunidad">
    <div class="boxC2">
      <h2>Gina Malaga - Profesora</h2>
      <br>
      <div class="containerparrafo">
        <p>Mi nombre es Gina Málaga, tengo 45 años y soy profesora de primaria.
          Actualmente administro mis ingresos y egresos atreves de Money Control,
          el tiempo que llevo utilizando la aplicación me ha parecido muy práctica ,
          veloz e ingeniosa.
        </p>
      </div>
      <br>
      <img src="assets/gina.png" alt="#">
    </div>

    <div class="boxC2">
      <h2>Susana Martinez - Arquitecta</h2>
      <br>
      <div class="containerparrafo">
        <p>Mi nombre es Susana y tengo 38 años de edad. Mi experiencia con Money Control ha sido espectacular puesto que al principio no quería ayuda en mis finanzas pero me tocó equivocarme varias veces para recién elegir una aplicación que me simplifique todo</p>
      </div>
      <br>
      <img src="assets/susana.png" alt="#">
    </div>

    <div class="boxC2">
      <h2>William Flores - Diseñador</h2>
      <br>
      <div class="containerparrafo">
        <p>Mi nombre es William Flores, tengo 27 años y soy diseñador gráfico. Mi opinión sobre Money Control es que me parece una buena aplicación con un buen proposito.</p>
      </div>
      <br>
      <img src="assets/wiliam.jpg" alt="#">
    </div>


  </div>
</section>

<section id="chatsito" class="chatsito">
  <div class="fotoCHAT">
    <img src="assets/chatsito.png" alt="">
  </div>
</section>
