<app-navbar> </app-navbar>

<body>
<div class="mat-elevation-z8">

  <div class="botonsalir">
    <button mat-raised-button color="warn" class="register-button" [routerLink]="['/Transaccion']">salir
    </button>
  </div>
  <!-- Contenedor principal para dividir en columnas -->
  <div class="contenedor-columnas">
    <!-- Columna del formulario (tabla) -->
    <div class="columna-formulario">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Columnas de la tabla -->
        <ng-container matColumnDef="idTransacciones">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.idTransacciones}}</td>
        </ng-container>
        <ng-container matColumnDef="montoTransaccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Transacción</th>
          <td mat-cell *matCellDef="let element">{{element.montoTransaccion}}</td>
        </ng-container>
        <ng-container matColumnDef="fechaTransaccion">
          <th mat-header-cell *matHeaderCellDef>Fecha Transacción</th>
          <td mat-cell *matCellDef="let element">{{element.fechaTransaccion | date:'yyyy-MM-dd'}}</td>
        </ng-container>
        <ng-container matColumnDef="tipoTransaccion">
          <th mat-header-cell *matHeaderCellDef>Tipo Transacción</th>
          <td mat-cell *matCellDef="let element">{{element.tipoTransaccion}}</td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="metodoPago">
          <th mat-header-cell *matHeaderCellDef>Método Pago</th>
          <td mat-cell *matCellDef="let element">{{element.metodoPago}}</td>
        </ng-container>
        <ng-container matColumnDef="estadoTransaccion">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{element.estadoTransaccion}}</td>
        </ng-container>
        <ng-container matColumnDef="idPrestamo">
          <th mat-header-cell *matHeaderCellDef>ID Préstamo</th>
          <td mat-cell *matCellDef="let element">{{element.prestamo.idPrestamo}}</td>
        </ng-container>

        <!-- Filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!-- Botón Ver Transacciones -->
      <div class="bototransicion">
        <button [routerLink]="['/Transaccionperiodo']">Filtrara Mis transacciones</button>
      </div>
    </div>

    <div class="columna-imagen">
      <img src="assets/estadistica2.jpg" alt="Decoración" />
    </div>
  </div>
</div>
</body>
