<app-navbar></app-navbar>

<div class="container">
</div>

<body>
<section id="comofunciona" class="comofunciona">

  <div class="subComofunciona">
    <h1>¿Cómo funciona?</h1>
    <h3>
      Los cursos de finanzas son importantes por varias razones: Mejora la toma de decisiones financieras, aumenta la
      capacidad para crear riqueza, favorece la comprensión del entorno económico, entre otros.
    </h3>
  </div>

  <div class="containerComofunciona">
    <div class="boxC">
      <img src="assets/particulo.png" alt="Icono de seguridad">
      <h2>Vincula tus cuentas de forma segura</h2>
      <label>Aprende a proteger tu cuenta de manera segura con estos tips.</label>
    </div>

    <div class="boxC">
      <img src="assets/sarticulo.png" alt="Gráfico de finanzas">
      <h3>Aprende a ahorrar y gastar con responsabilidad</h3>
      <p>La regla 50/30/20 es probablemente el sistema más simple de manejar el dinero.</p>
    </div>
  </div>

</section>
</body>
<app-footer></app-footer>
