<app-navbar> </app-navbar>


<section id="inicio" class="inicio">

  <div class="container1">
    <div class="col1">
      <h1 class="inicio">Administrar tu dinero, ahora es más simple</h1>
      <br>
      <div>
        <a href="/login" class="btnInscribete">Inscribete ahora</a>
      </div>
    </div>

    <div class="col2">
      <img src="assets/telefono.png" class="imgBanner" alt="Motivacion para ahorrar dinero">
      <img src="assets/playstore.png" class="imgsuperpuesta1" alt="playstore">
      <img src="assets/appstore.png" class="imgsuperpuesta2" alt="appstore">
    </div>
  </div>
</section>
<app-footer></app-footer>
