<header>
  <nav class="nav1">
    <nav class="link">
      <a [routerLink]="['/inicio']">home</a> |
      <a [routerLink]="['/Comofunciona']">Como Funciona</a> |
      <a [routerLink]="['/Comunidad']">Testimonios</a> |
      <a [routerLink]="['/Invertir']">Invierte</a> |
      <a [routerLink]="['/Transaccion']">Transacción</a> |
      <a [routerLink]="['/Iniciarsesion-nuevo-edit']">Iniciar Sesión</a> |
      <a [routerLink]="['/Iniciarsesion-listar']">Control</a> |
      <a [routerLink]="['/Garantia']">Garantía</a> |
      <a [routerLink]="['/login']">Login</a> |
    </nav>
  </nav>

</header>


<section id="inicio" class="inicio">

  <div class="container1">
    <div class="col1">
      <h1 class="inicio">Administrar tu dinero, ahora es más simple</h1>
      <br>
      <div>
        <a href="/login" class="btnInscribete">Inscribete ahora</a>
      </div>
    </div>

    <div class="col2">
      <img src="assets/telefono.png" class="imgBanner" alt="Motivacion para ahorrar dinero">
      <img src="assets/playstore.png" class="imgsuperpuesta1" alt="playstore">
      <img src="assets/appstore.png" class="imgsuperpuesta2" alt="appstore">
    </div>
  </div>
</section>
