<header>
   <nav class="nav1">
    <nav class="link">
      <a [routerLink]="['/inicio']">home</a> |
      <a [routerLink]="['/Comofunciona']">Como Funciona</a> |
      <a [routerLink]="['/Comunidad']">Testimonios</a> |
      <a [routerLink]="['/Invertir']">Invierte</a> |
      <a [routerLink]="['/Transaccion']">Transacción</a> |
      <a [routerLink]="['/Iniciarsesion-nuevo-edit']">Crear Cuenta</a> |
      <a [routerLink]="['/Iniciarsesion-listar']">Control</a> |
      <a [routerLink]="['/Garantia']">Garantía</a> |
      <a [routerLink]="['/login']">Iniciar Sesion</a> |
    </nav>
  </nav>

</header>


