<app-navbar></app-navbar>
<body>
<form [formGroup]="prestamoForm" class="form-container">
<div class="flex flex-column md:flex-row">


  <div class="w-full flex flex-column align-items-center justify-content-center gap-3 py-5">
    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">monto</label>
      <input pInputText id="monto" formControlName="monto" type="text" class="w-12rem" />
    </div>



    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">tasaInteres</label>
      <input pInputText id="tasaInteres" formControlName="tasaInteres" type="text" class="w-12rem" />
    </div>


    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">fechaInicio</label>
      <input pInputText id="fechaInicio" formControlName="fechaInicio" type="date" class="w-12rem" />
    </div>


    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">fechaFin</label>
      <input pInputText id="fechaFin" formControlName="fechaFin" type="date" class="w-12rem" />
    </div>

    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">estado</label>
      <input pInputText id="estado" formControlName="estado" type="text" class="w-12rem" />
    </div>

    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">ID de Usuario</label>
      <input pInputText id="codigousuario" formControlName="idUsuario" type="text" class="w-12rem" />
    </div>


    <p-button label="" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="onsubmit()">Dar Prestamo</p-button>
  </div>
  </div>
</form>
<app-prestamo-listar />

</body>
