<app-navbar></app-navbar>
<body>
<div class="consultaprestamo" >
  <button style="font-size: 16px;
    width: auto;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color:#24422f  ;
    color: white;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
     margin-left:1600px;
     display:flex;
"

          mat-button color="accent"
          [routerLink]="['/Invertir']">Salir
  </button>
<h1>Consulta Tu Prestamos</h1>

<mat-form-field appearance="outline">
  <mat-label>ID del Prestamo</mat-label>
  <input matInput [(ngModel)]="prestamoId" type="number" placeholder="Ingrese el ID del prestamo" />
</mat-form-field>
<button mat-raised-button color="primary" (click)="obtenerPagos()">Buscar</button>

<mat-card color="primary">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <!-- ID Prestamo Column -->
    <ng-container matColumnDef="prestamoId">
      <th mat-header-cell *matHeaderCellDef> ID Prestamo </th>
      <td mat-cell *matCellDef="let prestamo"> {{prestamo.prestamoId}} </td>
    </ng-container>

    <!-- Monto Prestamo Column -->
    <ng-container matColumnDef="montoPrestamo">
      <th mat-header-cell *matHeaderCellDef> Monto Prestamo </th>
      <td mat-cell *matCellDef="let prestamo"> {{prestamo.montoPrestamo}} </td>
    </ng-container>

    <!-- Tasa Interes Column -->
    <ng-container matColumnDef="tasaInteres">
      <th mat-header-cell *matHeaderCellDef> Tasa Interes </th>
      <td mat-cell *matCellDef="let prestamo"> {{prestamo.tasaInteres}} </td>
    </ng-container>

    <!-- Monto Total a Pagar Column -->
    <ng-container matColumnDef="montoTotalaPagar">
      <th mat-header-cell *matHeaderCellDef> Monto Total a Pagar </th>
      <td mat-cell *matCellDef="let prestamo"> {{prestamo.montoTotalaPagar}} </td>
    </ng-container>

    <!-- Fecha Maxima de Pago Column -->
    <ng-container matColumnDef="fechaMaximaDePago">
      <th mat-header-cell *matHeaderCellDef> Fecha Maxima de Pago </th>
      <td mat-cell *matCellDef="let prestamo"> {{prestamo.fechaMaximaDePago | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Mensaje cuando no hay datos -->
  <div *ngIf="datasource.data.length === 0">
    No hay datos disponibles.
  </div>
</mat-card>
</div>
</body>
