<app-navbar></app-navbar>
<body>
<div class="consultaprestamo" >
  <button style="font-size: 16px;
    width: auto;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color:#24422f  ;
    color: white;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
     margin-left:1600px;
     display:flex;
"

          mat-button color="accent"
          [routerLink]="['/Invertir']">Salir
  </button>
</div>
<div style="width: 70%; margin: auto;">
  <h2>Estadísticas de Préstamos</h2>
  <canvas id="barChart"></canvas>
</div>
<div *ngIf="!datosCargados" style="text-align: center; margin-top: 20px;">
  <p>Cargando datos...</p>
</div>
<div *ngIf="error" style="text-align: center; color: red; margin-top: 20px;">
  <p>Error al cargar los datos: {{ error }}</p>
</div>
</body>
