.bototransicion{

  margin-top: 5px;
  font-size:180px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 100%;
}
body{
  background-color: #26D698;
  background-image:url('/assets/fondo2.jpg');
  background-size: cover;
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
}

.form-title-label {
  font-size: 1.5rem; /* Tamaño del texto */
  color: green; /* Color verde */
  font-weight: bold; /* Texto en negrita */
}
