<app-navbar></app-navbar>

<body>
<form [formGroup]="sesionForm" class="form-container" color="primary">
  <div class="flex flex-column md:flex-row justify-content-center">
    <div class="w-full flex flex-column align-items-center justify-content-center gap-3 py-5">
      <div class="form-title text-center">
        <label class="form-title-label">Crea tu cuenta, un buen empiezo</label>
      </div>

      <!-- Nombre -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="nombre" class="w-6rem">Nombre</label>
        <input id="nombre" formControlName="nombre" type="text" class="w-12rem p-inputtext" placeholder="Ingresa tu nombre" />
      </div>

      <!-- Apellido -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="apellido" class="w-6rem">Apellido</label>
        <input id="apellido" formControlName="apellido" type="text" class="w-12rem p-inputtext" placeholder="Ingresa tu apellido" />
      </div>

      <!-- Contraseña -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="contrasena" class="w-6rem">Contraseña</label>
        <input id="contrasena" formControlName="contrasena" type="password" class="w-12rem p-inputtext" placeholder="contraseña segura ·~%#" />
      </div>

      <!-- Dirección -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="direccion" class="w-6rem">Dirección</label>
        <input id="direccion" formControlName="direccion" type="text" class="w-12rem p-inputtext" placeholder="Ingresa tu dirección" />
      </div>

      <!-- Teléfono -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="telefono" class="w-6rem">Teléfono</label>
        <input id="telefono" formControlName="telefono" type="text" class="w-12rem p-inputtext" placeholder="Ingresa tu número de teléfono" />
      </div>

      <!-- Email -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="email" class="w-6rem">Email</label>
        <input id="email" formControlName="email" type="email" class="w-12rem p-inputtext" placeholder="Ingresa tu correo electrónico" />
      </div>

      <!-- Habilitar Cuenta -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="habilitarCuenta" class="w-6rem">Habilitar cuenta</label>
        <p-treeSelect
          id="habilitarCuenta"
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedEstado"
          [ngModelOptions]="{ standalone: true }"
          [options]="Estado"
          placeholder="Selecciona un estado">
        </p-treeSelect>
      </div>

      <!-- Rol -->
      <div class="form-group flex flex-wrap justify-content-center align-items-center gap-2">
        <label for="rol" class="w-6rem">Rol</label>
        <p-treeSelect
          id="rol"
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedRol"
          [ngModelOptions]="{ standalone: true }"
          [options]="Rol"
          placeholder="Selecciona un rol">
        </p-treeSelect>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-content-center">
        <p-button label="Registrar" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="onsubmit()"></p-button>
      </div>
      <button class="butonver" mat-raised-button color="primary" [routerLink]="['/Iniciarsesion-listar']">
        <span class="material-icons">attach_money</span> Admistrar usuarios
      </button>

    </div>
  </div>
</form>
</body>
