<app-navbar></app-navbar>

<div style="display: flex; height: 100vh; background-color: #f5f5f5;">
  <!-- Columna de la Imagen -->
  <div style="flex: 1; display: flex; justify-content: center; align-items: center; background-color: #e6f7ff;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZQGWQIlbgzOP3ze_zLedbqbJqd0Fg0ytcSdPpCGipBZ_OUmFlcMP0zKQghyy6D8YrWTg&usqp=CAU"
         alt="imagen"
         style="max-width: 80%; max-height: 80%; border-radius: 10px;">
  </div>



<form [formGroup]="sesionForm" class="form-container">
  <div class="flex flex-column md:flex-row">
    <div class="w-full flex flex-column align-items-center justify-content-center gap-3 py-5">

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Nombre</label>
        <input pInputText id="nombre" formControlName="nombre" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Apellido</label>
        <input pInputText id="apellido" formControlName="apellido" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Contraseña</label>
        <input pInputText id="contrasena" formControlName="contrasena" type="password" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Dirección</label>
        <input pInputText id="direccion" formControlName="direccion" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Teléfono</label>
        <input pInputText id="telefono" formControlName="telefono" type="text" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Email</label>
        <input pInputText id="email" formControlName="email" type="email" class="w-12rem" />
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Habilitar cuenta</label>
        <p-treeSelect
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedEstado"
          [ngModelOptions]="{standalone: true}"
          [options]="Estado"

          placeholder="Select estado">
          (onChange)="onEstadoSelect($event)"
        </p-treeSelect>
      </div>

      <div class="flex flex-wrap justify-content-center align-items-center gap-2">
        <label class="w-6rem">Rol</label>
        <p-treeSelect
          class="md:w-12rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedRol"
          [ngModelOptions]="{standalone: true}"
          [options]="Rol"
          placeholder="Select Rol">
        </p-treeSelect>
      </div>

      <p-button label="" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="onsubmit()">Registrar</p-button>

    </div>
  </div>
</form>

